{% extends "base" %}
{% block content %}

<h1>Ambassador Program</h1>

<p>
For 2005, the Foundation Annual Campaign committee would like to recruit one or
two parents at each school to help us distribute information about the
foundation and serve as an enthusiastic role model to encourage school-wide
awareness and support for the <a href="/page/campaign/">Annual Campaign</a>.
</p>

<h1>Responsibilities</h1>

<ul>
	<li>Learn about the Foundation, and the Annual Campaign.</li>
	<li>Help the Annual Campaign committee determine the best ways to motivate the
	school community to support the Annual Campaign.</li>
	<li>Advise and collaborate on strategies to engage schools in the goals of the
	Foundation.</li>
</ul>

<h1>Why Volunteer?</h1>

<ul>
	<li>You can make a real difference in your child's education.</li>
	<li>Learn more about our district and schools.</li>
	<li>Make new friends.</li>
	<li>Build a sense of community.</li>
	<li>Encourage innovation and excellence in our district.</li>
</ul>

{% endblock %}
