{% extends "base" %}

{% block content %}

<h1>What is the Annual Campaign?</h1>

<p>
The annual campaign has become a fundraising fixture in many public school
foundations across the nation.
</p>

<p>
Many of our neighboring cities have successfully raised hundreds of dollars per
student through their annual campaigns allowing them to largely offset budget
cuts. Our schools are in a crisis and we know that our community wants to help.
During the annual campaign, we will seek funds from district families, all
residents of Santa Clara, and local businesses.
</p>

<h1>How Will the Money Be Spent?</h1>

<p>
All of the money raised will go to fund programs and services that have a
direct impact on students, such as maintaining class size reduction, music
programs, technology, and counseling. 10% of the money will go to the
Foundation's endowment fund to support our district's long-term
educational goals.  
</p>

<h1>What Can I Do to Help?</h1>

<p>
The Foundation is asking all district families to make a tax-deductible
donation.
</p>

<p>
<a href="#">Please use this form</a> for details on how to
contribute.  The suggested amount is $100 per student, but any amount you can
give will make a difference.
</p>

<p>
If the company you work for has a matching gift program, you can double your
contribution.  Please contact your HR department and take advantage of this
program.
</p>

<p>
If you are interested in volunteering your time to help the Foundation, please
email
<a href="mailto:lrichardson@santaclaraschoolsfoundation.org?Subject=Annual%20Campaign%20Volunteer"
	title="lrichardson@santaclaraschoolsfoundation.org">Laura Richardson</a> or
call her at (408) 735-1689.
</p>

{% endblock %}
