{% extends "base" %}

{% block content %}

<h1>Contact Us</h1>

<h2>General Information</h2>

<p>
900 Lafayette St. #504<br/>
Santa Clara, CA  95050
</p>

<p>
Phone:  408.243.6655<br/>
Fax:  408.243.1566<br/>
</p>

<h2>Handwritten Grant Proposals</h2>

<p>
Santa Clara Schools Foundation<br/>
Attn: Grants<br/>
900 Lafayette St. #504<br/>
Santa Clara, CA 95050
</p>

<p>
Or fax to (408) 243.1566
</p>

<h2>Annual Campaign Donations</h2>

<p>
Santa Clara Schools Foundation<br/>
PO Box 1306<br/>
Santa Clara CA 95052-1306<br/>
</p>

<p>
(408) 260.8671
</p>

<p>
<a href="mailto:donations@santaclaraschoolsfoundation.org">donations@santaclaraschoolsfoundation.org</a>
</p>

<h2>Annual Campaign Volunteer Opportunities</h2>

<p>
Laura Richardson<br/>
(408) 745.8283<br/>
<a href="mailto:campaignvolunteer@santaclaraschoolsfoundation.org">campaignvolunteer@santaclaraschoolsfoundation.org</a>
</p>

<h2>Volunteering</h2>

<p>
Noelani Sallings<br/>
(408) 260.8671<br/>
<a href="mailto:nsallings@santaclaraschoolsfoundation.org">volunteer@santaclaraschoolsfoundation.org</a>
</p>

<h2>All other inquiries</h2>

<p>
Santa Clara Schools Foundation<br/>
900 Lafeyette St. #504<br/>
Santa Clara, CA 95051<br/>
<a href="mailto:info@santaclaraschoolsfoundation.org">info@santaclaraschoolsfoundation.org</a>
</p>

{% endblock %}
