{% extends "base" %}

{% block content %}
<h1>Where Do We Get Our Funding?</h1>

<p>
The Foundation funding comes from three major sources:
	<ul>
		<li><a href="/page/campaign/">The Annual Campaign</a></li>
		<li><a href="/page/golf/">The Marilyn Rea/Foundation Golf Tournament</a></li>
		<li><a href="#">private donations</a> from local corporations,
			small businesses, community friends and Santa Clara Unified alumni.</li>
	</ul>
</p>

<h1>Why Should I Donate?</h1>

<p>
This is a common question for people who don't have children in the district.
Good schools keep property values high and neighborhoods safe.
</p>

<p>
As an alumnus, grandparent, or proud citizen of Santa Clara, consider
sponsoring a child and investing in the future of all of our children. Santa
Clara schools already have an excellent reputation (we have received six
California Distinguished School Awards in the last five years).
</p>

<h1>How is the Money Spent?</h1>

<p>
All money raised from the Marilyn Rea/Foundation Golf Tournament and private
donations goes towards our grants and scholarship programs.
</p>

<p>
All money raised from the Annual Campaign will go to fund programs and services
that have a direct impact on students, such as maintaining class size
reduction, music programs, technology, and counseling. 10% of the money will go
to the Foundation's endowment fund to support our district's long-term
educational goals.
</p>

<h1>What about Measure J?</h1>

<p>
Measure J is a bond measure passed in 2004. All funds generated will be used to
physically rehabilitate Santa Clara Unified's middle and high schools.  None of
the money can be used for classroom instruction.
</p>

{% endblock %}
