{% extends "base" %}

{% block content %}
<h1>Where Do We Get Our Funding?</h1>

<p>
The Foundation funding comes from three major sources:  our annual campaign
(link to the information), The Marilyn Rea/Foundation Golf Tournament and
private donations from local corporations, small businesses, community friends
and Santa Clara Unified alumni.
</p>

<h1>How is the Money Spent?</h1>

<p>
All money raised from the Marilyn Rea/Foundation Golf Tournament and private
donations goes towards our grants and scholarship programs.
</p>

<p>
All money raised from the Annual Campaign will go to fund programs and services
that have a direct impact on students, such as maintaining class size
reduction, music programs, technology, and counseling. 10% of the money will go
to the Foundation's endowment fund to support our district's long-term
educational goals.
</p>

<h1>Annual Campaign</h1>

<p>
The annual campaign has become a fundraising fixture in many public school
foundations across the nation.  Many of our neighboring cities have
successfully raised hundreds of dollars per student through their annual
campaigns allowing them to largely offset budget cuts. Our schools are in a
crisis and we know that our community wants to help. During the annual
campaign, we will seek funds from district families, all residents of Santa
Clara, and local businesses.
</p>

{% endblock %}
