{% extends "base" %}

{% block content %}
<h1>Where Do We Get Our Funding?</h1>

<p>
The Foundation funding comes from three major sources:
	<ul>
		<li><a href="/page/golf/">The Marilyn Rea/Foundation Golf Tournament</a></li>
		<li>
			<a href="http://www.santaclaraartandwinefestival.com/">
				The Santa Clara Art &amp; Wine Festival</a>
		</li>
		<li><a href="/page/campaign/">The Annual Campaign (new in 2005)</a></li>
	</ul>
</p>

<h1>Why Should I Donate?</h1>

<p>
This is a common question for people who don't have children in the district.
Good schools keep property values high and neighborhoods safe.
</p>

<p>
As an alumnus, grandparent, or proud citizen of Santa Clara, consider
sponsoring a child and investing in the future of all of our children. Santa
Clara schools already have an excellent reputation.  We have received six
California Distinguished School Awards in the last five years.  Continued
investment in education is necessary to sustain and build on this success.
</p>

<p>
To give you a sense of the benefits our students could reap from a successful
campaign, if the Foundation were able to raise:
</p>

<dl>
	<dt>
		$200,000 ($15 per child)
	<dd>
		we could prevent the elementary music program from being cut at all our
		districts elementary schools.
	</dd>
	<dt>
		$240,000 ($18 per child)
	</dt>
	<dd>
		we could prevent the loss of 3 counselors from our 3 middle schools. (The
		current student/counselor ratio is about 900 to 1.)
	</dd>
	<dt>
		$340,000 ($25 per child)
	</dt>
	<dd>
		we could maintain 9th grade English and Math class size reduction (If we
		lose class size reduction, class sizes could increase from 20 to 38.)
	</dd>
	<dt>
		$3.4 million ($250 per child)
	</dt>
	<dd>
		would have eliminated the need for any budget cuts for the 2005-2006 school
		year.
	</dd>
</dl>


<h1>How is the Money Spent?</h1>

<p>
All money raised from the
<a href="/page/golf/">Marilyn Rea/Foundation Golf Tournament</a> and
the Santa Clara Art &amp; Wine Festival goes towards our grants and
scholarship programs.
</p>

<p>
All money raised from the <a href="/page/campaign/">annual campaign</a> will go
to fund programs and services that have a direct impact on students, such as
maintaining class size reduction, music programs, technology, and counseling.
</p>

<p>
In the spring of 2006, when the 2006-2007 budget proposal is available for
review, the Foundation board (which includes parents) and campaign advisors
(which includes school principals) will partner with the school board to
determine how to best apply the funds raised through the
<a href="/page/campaign/">annual campaign</a>.
</p>

<h1>What about Measure J?</h1>

<p>
Measure J is a bond measure passed in 2004. All funds generated will be used to
physically rehabilitate Santa Clara Unified's middle and high schools.  None of
the money can be used for classroom instruction.
</p>

{% endblock %}
