{% extends "base" %}

{% block content %}
<h1>Marilyn Rea/Foundation Golf Tournament</h1>

<p>
Every year we have an annual golf tournament, named in memory of Marilyn Rea
who passed away several years ago.  she was on the Santa Clara Unified School
District  Board of Trustees and was very active at her children's schools.
</p>

<h1>Tournament Information</h1>

<dl>
	<dt>Place</dt>
	<dd>Santa Clara Golf and Tennis Club</dd>
	<dt>Format</dt>
	<dd>4 Person Scramble
		<ul>
			<li>handicap division</li>
			<li>non handicap division</li>
		</ul>
	</dd>
</dl>

<p>
Invitations are open to both women and men golfers.  The tournament is limited
to the first 144 golfers.  Sign up your own foursome or singles will be matched
to form a foursome.
</p>

<h2>Included With Entry Fee</h2>

<ul>
	<li>Golf &amp; Cart</li>
	<li>Tee prizes</li>
	<li>Refreshments on the course</li>
	<li>Chicken/Ribs BBQ buffet at David's Restaurant</li>
	<li>Tournament prizes</li>
	<li>Door prizes</li>
</ul>

<h2>Special Tournament Awards</h2>

<ul>
	<li>Closest to the Hole</li>
	<li>Longest Drive</li>
	<li>Hole-in-One</li>
</ul>

<h1>How to Enter</h1>

<p>
Please download the <a href="/media/golfreg.pdf">registration form</a> and mail
it in with a check to cover the amount to the following location:

<blockquote>
	Santa Clara Schools Foundation<br/>
	1889 Lawrence Rd.<br/>
	Santa Clara, CA  95051
</blockquote>
</p>

{% endblock %}
