{% extends "base" %}
{% block content %}

<h1>Request a Grant</h1>

<form method="post" action="/grant/new/">


<fieldset class="aligned" id="requestor">
	<legend>Requestor Info</legend>

	<div>
	<label for="id_requestor_name">Your Name</label>
		{{ form.requestor_name }}
	</div>

	<div>
	<label for="id_requestor_email">Your Email Address</label>
		{{ form.requestor_email }}
	</div>

	<div>
	<label for="id_school_id">Your School</label>
		{{ form.school_id }}
	</div>

	<div>
	<label for="id_grade_id">Grade</label>
		{{ form.grade_id }}
	</div>

	<div>
	<label for="id_subject">Subject</label>
		{{ form.subject }}
	</div>
</fieldset>

<fieldset class="aligned" id="request">
	<legend>Request Info</legend>

	<div>
	<label for="id_proposal">Your proposal</label>
		{{ form.proposal }}
	</div>

	<div>
	<label for="id_amt_requested">Amount Requested</label>
		{{ form.amt_requested }}
	</div>

</fieldset>

<fieldset class="aligned" id="raised">
	<legend>Raised Elsewhere</legend>
	
	<div>
	<label for="id_amt_raised">Amount Raised</label>
		{{ form.amt_raised }}
	</div>

	<div>
	<label for="id_raise_description">How Was This Raised?</label>
		{{ form.raise_description }}
	</div>

</fieldset>

<div>
	<input type="submit" value="Request"/>
</div>

</form>

{% endblock %}
