{% extends "base" %}

{% block content %}
<h1>Who Are We?</h1>

<p>
The Santa Clara Schools Foundation is a non-profit, public benefit corporation
formed in 1992 to fund innovative projects and programs proposed by teachers
for the Santa Clara Unified School District.
</p>

<p>
The foundation's fund-raising focus is on private sources from local
corporations , to small businesses, community friends and Santa Clara Unified
Alumni.
</p>

<p>
Since its inception, this all volunteer organization has funded over $450,000
of programs for our district schools.
</p>

<h1>Why Do We Do This?</h1>

<p>
<img style="float: right; padding: 0 2px 1em 1em;"
	src="/media/images/stateexpendfinal.png" alt="state expenditures"/>
In the last three years, Santa Clara Unified Schools have suffered more than
$13 million in cuts. For the 2005-2006 school year, the district's budget
will be $3.4 million less than it was last year. This is the equivalent of $250
less per student.
</p>

<p>
This budget shortfall is primarily a result of state funding cutbacks coupled
with a continued decline in local commercial property tax revenues. This year's
cuts include reducing Kindergarten from a full day to half day, decreasing the
number of nurses and counselors in our schools.
</p>

<p>
Other programs that were on the cut list but managed to survive (this year)
were the elementary school music program, library assistance, maintaining small
class sizes for third and ninth graders, and many more.
</p>

<h1>What About the PTA?</h1>

<p>
Our PTAs work very hard to serve the needs of their respective schools. The
PTAs raise money for many of the important <q>extras</q> that the schools
would not otherwise be able to supply.
</p>

<p>
What they can't do (by charter) is raise money for teacher salaries or build an
endowment. The Foundation is raising funds for the entire district.
</p>

<p>
Funds raised will be used to support instructional programs that would have
otherwise been cut.  We urge you to support both your PTA and the Foundation.
</p>

{% endblock %}
