{% extends "base" %}

{% block content %}
<h1>Who Are We?</h1>

<p>
The Santa Clara Schools Foundation is a non-profit, all-volunteer, public
benefit corporation formed in 1992 to fund projects and programs for the Santa
Clara Unified School District.  The Foundation is not supported by taxpayer
dollars.
</p>

<p>
Over the past 13 years, the Foundation has raised money through
<a href="/donate/">donations</a> and
<a href="/page/golf/">fundraisers</a>.
The board of directors has received, reviewed, and funded
<a href="/page/programs/#grants">grant requests</a>
for
classroom projects and supplies from teachers throughout our district.  Since
its inception, the Foundation has provided over $450,000 to our district
schools in the form of these <a href="/page/programs/#grants">grants</a>.
</p>

<p>
Due to the recent budget crisis, in addition to continuing the
<a href="/page/programs/#grants">grant program</a>,
the Foundation has decided increase its efforts to support the schools
by launching an <a href="/page/campaign/">annual campaign</a>.
</p>

<h1>What About the Parent Teacher Association
(<acronym title="Parent Teacher Assocation">PTA</acronym>)?</h1>

<p>
Our <acronym title="Parent Teacher Assocation">PTA</acronym>s work very hard to
serve the needs of their respective schools. The
<acronym title="Parent Teacher Assocation">PTA</acronym>s raise money for many
of the important <q>extras</q> that the schools would not otherwise be able to
supply.
</p>

<p>
What they can't do (by charter) is raise money for teacher salaries or build an
endowment. The Foundation is raising funds for the entire district.
</p>

<p>
Funds raised will be used to support instructional programs that would have
otherwise been cut.  We urge you to support both your
<acronym title="Parent Teacher Association">PTA</acronym> and the Foundation.
</p>

{% endblock %}
