{% extends "base" %}

{% block content %}
<a name="scholarships"></a>
<h1>Scholarships</h1>

<p>
Each year the Foundation offers scholarships to graduating seniors in the Santa
Clara Unified School District. Scholarships recipients are students who are
planning a career in teaching.
</p>

<p>
In the 2004-2005 school year the Foundation
gave about six scholarships totaling $9,000.
</p>

<h2>Congratulations to Past Winners<h2>

<p>
[people go here]
</p>

<a name="grants"></a>
<h1>Grant Program</h1>

<p>
Our goal is to provide assistance to programs that encourage quality academic
performance, give students <q>hands on</q> experiences and promote their
interest in learning.
</p>

<p>
Grants are made available through a selective applications process.  After a
grant proposal has been received the decision regarding the projects of merit
and the award of grants is made by the Santa Clara Schools foundation Board of
Directors.
</p>

<h2>Grant Policy</h2>

<p>
The Santa Clara Schools Foundation makes grants to classroom teachers for
learning materials, equipment, programs and activities that directly benefit
our students.
</p>

<p>
The Foundation does not make grants for personnel related functions, programs
that involve on-going funding or foreign travel. Proposals for grants should
consist of a short letter identifying the requesters, the number of students
who will benefit from the proposal, the time frame, the amount requested, the
total cost and the extend to which other fund raising activities or sources of
income are available to fund the project.  You can either send in the letter or
apply online.
</p>

<p>
One of our objectives is to help children who are unable to afford the cost of
field trips, although funding for field trips will be limited.  For example, if
your class needs $1,000 for a field trip, we ask that you raise a portion of
that amount through fundraisers and ask the Foundation to fund the balance.
Not only does this help the foundation to use its funds effectively, but it
engenders a sense of accomplishment and pride on the part of your students
</p>

<p>
Our Board of Directors meets monthly during the school year, so please submit
your request at least sixty days before the planned activity expenditure.  To
be considered for discussion and possible approval, the grant request must be
received one month prior to our monthly meeting.
</p>

<p>
Request for curriculum material should supplement and not supplant the
district's core curriculum.  New materials shall be in accordance with district
curriculum standards.
</p>

<h1>Request a Grant</h1>

To request a grant, please proceed to the <a href="/grant/new/">grant request
form</a>.

{% endblock %}
