{% extends "base.html" %}
{% block title %}Programs{% endblock %}

{% block content %}
<a name="scholarships"></a>
<h1>Scholarships</h1>

<p>
Each year the Foundation offers scholarships to graduating seniors in the Santa
Clara Unified School District. Scholarship recipients are students who are
planning a career in teaching.
</p>

<p>
Since 2004, the Foundation has given scholarships totaling $22,500..
</p>

{% if scholarships %}
<h2>Congratulations to Past Winners</h2>

<ul>
{% for s in scholarships %}
	<li>{{ s.name }} from {{ s.school }} in {{ s.year }}</li>
{% endfor %}
</ul>
{% endif %}
<h1>How to Apply for a Scholarship</h1>
<h2>Qualifications</h2>
Recipient must be a graduating senior with a GPA of 2.8 or better who plans to major in education.  The foundation will award the scholarship payable to the recipient upon proof of enrollment as a full time student in an accredited junior ccollege, college, or university in the next school year.
</p>
<h2>Award</h2
<p>
Two $1500 scholarships to each of the following schools: New Valley High, Santa Clara High, Wilcox High School may be awarded.  Winners will be announced at Senior Awards Night in May or June.
</p>
<h2>Deadline</h2>
<p>
Second Sunday in April.
</p>
<h2>How to Apply</h2>
<ul>
<li>Complete <a href="/media/scholarship.pdf">application form</a></li>
<li>Attach essay to application form. Type your name in the top right corner of each page.</li>
<li>Include two letters of recommendation.  One must be from a former teacher or a teacher who has you in class this year.</li>
<li>Mail form and essay to: Scholarship Committee, Santa Clara Schools Foundation, 900 Lafayette St. #504, Santa Clara, CA 95050</li>
</ul>

<h2>Essay Topic</h2>
<p>
Tell why you want to become a teacher and who in your life influenced that decision.  
</p>
<p>
Essay should be typed, in black ink, and double spaced.  No covers or binders.  Maximum of two pages. 
</p>



<a name="grants"></a>
<h1>Grant Program</h1>

<p>
The Santa Clara Schools Foundation makes grants to
<acronym title="Santa Clara Unified School District">SCUSD</acronym> district
classroom teachers for learning materials, equipment, programs and activities
that directly benefit our students.
</p>
<p>
Our goal is to provide assistance to programs that encourage quality academic
performance, give students hands-on experiences, and promote their interest in
learning.
</p>

<p>
Grants are made available through a selective applications process.  After a
grant proposal has been received, the grant award decision is made by the Santa
Clara Schools Foundation Board of Directors.
</p>

<h2>Grant Policy and Award Policy </h2>
<p>
The Foundation encourages grant requests from all schools and a broad range of staff so that awards may be distributed as equitably as possible throughout the district.  The Grant submission deadline is the end of the month prior to regular monthly Board meetings.  Application at least 60 days in advance of the month of need is recommended to assure timely consideration.  You can either <a href="/contact/">send in</a>
a grant request using our <a href="/media/grant.pdf">offline form</a> or or use
our <a href="/grant/new/">online form</a> to apply right now.
</p>

<p>
Grant request must meet the requirements stipulated on the Application and include principal signature indicating awareness of the request. Application should include description of efforts to obtain funding or support from other sources. Instructional materials requested should meet district academic standards and not displace district-provided or district recommended materials.
</p>
<p>
Support for field trips and science camp will be awarded based on need (i.e., funding for students unable to afford cost).
Applicant requesting technology should first determine if the request can be met through donations solicited from local companies by district or school (technology donations contact is Roger Barnes).
</p>
<p>
In making grant decisions, the Board may consider the extent to which a school or individual staff member has previously received Foundation support. Grants will not be made for foreign travel, stipends, or salaries.
</p>
<h1>Request a Grant</h1>
<p>
To request a grant, please proceed to the <a href="/grant/new/">grant request
form</a> or use the <a href="/media/grant.pdf">offline form</a>.
</p>



{% endblock %}
