{% extends "base" %}

{% block content %}

<h1>Volunteers</h1>

<p>
The Santa Clara Schools Foundation is built upon the outstanding efforts of
volunteers.  There are several ways in which you can participate in Foundation
efforts:
</p>

<ul>
	<li>
		Become a <a href="#" title="What's This?">Foundation Amabassador</a>.
	</li>
	<li>
		Help with our upcoming
		<a href="#" title="What's this?">phone-a-thon</a>.
	</li>
	<li>
		Join the <a href="/page/campaign/#help"
				title="What's this?">Annual Campaign Committee</a>.
	</li>
	<li>
		Volunteer to help with <a title="Like what?"
			href="/page/golf/">special events</a>.
	</li>
</ul>

{% endblock %}
