{% extends "base" %}

{% block content %}

<h1>How You Can Participate</h1>

<p>
There are several ways for you to participate in the Foundation efforts:
</p>

<ul>
	<li>
		<a href="/volunteer/new/">Volunteer to help</a> with special events or
		fundraising.
	</li>
	<li><a href="/donate/">Donate</a> on an annual basis.</li>
	<li>Give a one-time <a href="/donate/">donation</a>.</li>
	<li>
		Support the work of the Foundation in the schools your children attend by
		becoming a Foundation Ambassador.
	</li>
</ul>

{% endblock %}
