{% extends "base" %}

{% block content %}

<h1>How You Can Participate</h1>

<p>
There are several ways in which you can participate in Foundation efforts:
</p>

<ul>
	<li>
		<a href="mailto:nsallings@santaclaraschoolsfoundation.org?subject=I%20want%20to%20help%20out%20the%20Foundation">Volunteer to help</a>
	with special events or fundrasising.
	</li>
	<li><a href="/page/donate/">Donate</a> on an annual basis.</li>
	<li>Give a one-time <a href="/page/donate/">donation</a>.
	<li>Join the Santa Clara Schools Foundation Board of Directors.</li>
</ul>

{% endblock %}
