{% extends "base" %}
{% block title %}Volunteer{% endblock %}
{% block content %}

<h1>Volunteer to Help</h1>

{% if form.has_errors %}
<h2 class="error">Please correct the following error{{ errors|pluralize }}:</h2>
<ul class="error">
	{% for e in errors.items %}
	<li>Field "{{ e.0 }}": {{ e.1|join:", " }}</li>
	{% endfor %}
</ul>
{% endif %}

<form method="post" action="/volunteer/new/">

<fieldset class="aligned" id="requestor">
	<legend>Volunteer Info</legend>

	<!--
	Errors:  {{errors}}
	-->

	<div>
	<label for="id_name">Name</label>
		{{ form.name }}
		{% if form.name.errors %}
			<span class="error">
				*** {{ form.name.errors|join:", " }}
			</span>
		{% endif %}
	</div>

	<div>
	<label for="id_email">Email Address</label>
		{{ form.email }}
		{% if form.email.errors %}
			<span class="error">
				*** {{ form.email.errors|join:", " }}
			</span>
		{% endif %}
	</div>

	<div>
	<label for="id_phone">Phone Number</label>
		{{ form.phone }}
		{% if form.phone.errors %}
			<span class="error">
				*** {{ form.phone.errors|join:", " }}
			</span>
		{% endif %}
	</div>

	<div>
	<label for="id_address1">Address</label>
		{{ form.address1 }}
		{% if form.address1.errors %}
			<span class="error">
				*** {{ form.address1.errors|join:", " }}
			</span>
		{% endif %}
	</div>

	<div>
	<label for="id_address2">Address (line 2)</label>
		{{ form.address2 }}
		{% if form.address2.errors %}
			<span class="error">
				*** {{ form.address2.errors|join:", " }}
			</span>
		{% endif %}
	</div>

	<div>
	<label for="id_city">City</label>
		{{ form.city }}
		{% if form.city.errors %}
			<span class="error">
				*** {{ form.city.errors|join:", " }}
			</span>
		{% endif %}
	</div>

	<div>
	<label for="id_zip">Zip Code</label>
		{{ form.zip }}
		{% if form.zip.errors %}
			<span class="error">
				*** {{ form.zip.errors|join:", " }}
			</span>
		{% endif %}
	</div>

	<div>
	<label for="id_info">How Would You Like To Help?</label>
		{{ form.info }}
		{% if form.info.errors %}
			<span class="error">
				*** {{ form.info.errors|join:", " }}
			</span>
		{% endif %}
	</div>

</fieldset>

<div>
	<input type="submit" value="Request"/>
</div>

</form>

{% endblock %}
