/* Style for printing */

a, a:visited, acronym {
	background: white;
	color: black;
	text-decoration: none;
	border: none;
}

acronym:after {
	font-size: x-small;
	content: " [" attr(title) "] ";
}

#pagetop {
	font-size: smaller;
	background: white;
}

#toptext {
	top: 0;
}

#navbar {
	display: none;
}

#content {
	margin-left: 2em;
}

#content ul {
	list-style: disc;
}
