c{% extends "base.html" %}
{% block title %}Programs{% endblock %}

{% block content %}
<a name="scholarships"></a>
<h1>Graduating High School Student Scholarship Programs</h1>
<p>The Santa Clara Schools Foundation sponsors two separate scholarship programs annually. The High School Senior Scholarship Program and the SCSF Citizenship Award Program are detailed below.
</p>
<h2>High School Senior Scholarship Program </h2>
<p>
Two (2) Scholarships of $1500 each may be awarded to qualified and selected applicants from each of the SCUSD High Schools - New Valley, Santa Clara, Wilcox and Wilson High School.
Qualifications:
    •    All graduating Santa Clara Unified School District students with a minimum GPA of 3.0 are eligible to apply
    •    Student must apply directly using the following application link:
    •    Application must be postmarked by May 4, 2009
</p>
<h2>
SCSF Citizenship Award Program
</h2>
<p>
Up to two (2) $500 Awards may be given to each SCUSD High School to recognize students who have shown excellent leadership, involvement or other characteristics while in school. A Teacher, Administrator or Parent Group Officer must nominate students.
Qualifications:
    •    Graduating Santa Clara Unified School District student must be nominated by a Teacher, Administrator, or Parent Group Officer.
    •    SCSF Citizenship Award Nomination Form link:
    •    Application must be postmarked by May 4, 2009
</p>
<h2>How To Apply</h2>
<ul>
<li>   •    Students: Complete High School Senior Scholarship Program Application -<a href="/media/scholarship.pdf">Scholarship Application Form</a></li>
<li>   •    Administrators/Teachers/Parent Group Officers nominate a student: Complete SCSF Citizenship Award Nomination Form – <a href="/media/merit.pdf">Merit Application Form</a></li>
</ul>
<h2>Application Deadline</h2>
<p>
Applications must be postmarked by May 4, 2009.
</p>
<h2>Send Completed Aplication Materials To:</h2>
<p>
Scholarship Award Committee
Santa Clara Schools Foundation
900 Lafayette St. #504
Santa Clara, CA 95050
</p>

<h2>Procedure</h2>
<p>All decisions are at the complete discretion of the Santa Clara Schools Foundation Scholarship Award Committee.
Recipients will be notified by mail.
Awards may be claimed by the recipient following submission of proof of full time enrollment at a qualified educational institution by 10/31/2009.
</p>

<h2>For further information contact: </h2>
<p>
John George, SCSF President at 243-6655
</p>
